.tweetContainer {
  border: solid;
  margin-top: 5%;
  padding: 3%;
}

.tweetContainer p {
  float: right;
  margin-left: 4px;
}

.tweetContainer header {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between
}

.handle {
  opacity: 0;
}

.handle:hover {
  opacity: 1;
}

article:hover {
  box-shadow: gray 10px 10px 5px;
  opacity: 1;
}

.icon {
  opacity: 0;
}

.icon:hover {
  opacity: 1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  height: 30px;
}

@media only screen and (min-width: 1024px) {
  .tweetContainer {
    float: right;
    width: 60%;
    margin-top: 0.2em;
  }

  article {
    margin-bottom: 8px;
  }
}