#header {
  height: 400px;
  width: 100%;
  padding: 1.5em;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: darksalmon;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  margin-top: 120px
}

@media only screen and (min-width: 1024px) {
  #header {
    width: 33.3%;
    float: left;
    margin-top: 0;
    margin-left: 2em;
  }
}