#header {
  height: 400px;
  width: 100%;
  padding: 1.5em;
  flex-direction:column;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: #fffdd0;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  margin-top: 120px;
}

