.textAreaTweet {
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 4px black solid;
  resize: none;
  overflow: hidden;
}

.tweetButton {
  background-color: #4056A1;
  font-family: bungee;
  font-size: 24px;
  color: white;
}

.counter {
  float: right;
  font-family: bungee;
}

.new-tweet {
  display: none;
  margin-top: 0.7em;
}

.error {
  border: solid;
  margin-top: 5%;
  padding: 3%;
  display: none;
  color: white;
  background-color: #f44336;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 2%;
}

@media only screen and (min-width: 1024px) {
  .new-tweet {
    float: right;
    width: 60%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .error {
    margin-top: 0em;
    margin-bottom: inherit
  }
}