.textAreaTweet {
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 4px black solid;
  resize: none;
  overflow: hidden;
}

.tweetButton {
  background-color: #4056A1;
  font-family: bungee;
  font-size: 24px;
  color: white;
}

.counter {
  float: right;
  font-family: bungee;
}

.new-tweet {
  display: none;
}

.error {
  border: solid;
  margin-top: 5%;
  padding: 3%;
  display: none;
  color: white;
  background-color: #f44336;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}